.container {
  display: flex;
  justify-content: space-around;

  .file {
    border: 1px solid;
    min-height: 32px;
  }
  .source-card {
    min-height: 32px;
    border: 1px dashed
  }
  .test-window {
    height: 300px;
    widows: 300px;
  }
}